.formProductCreation {
  background-color: #e8e8f0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.CreationFormTitle {
  color: #0c047c;
  font-size: 1.5rem;
}

body.dark .CreationFormTitle{
  color: #e8e8f0;
}

main {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e8e8f0;
  text-align: center;
}

body.dark main{
  background-color: #253159;
}

.formProductCreation {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 15px;
  padding-bottom: 1.5rem;
  width: 85%;
  max-width: 536px;
  border: 3px solid #0c047c;
  border-radius: 10px;
  color: #0c047c;
  background: #e8e8f0;
  text-align: center;
  box-shadow: 0px 0px 15px 2px;
}

body.dark .formProductCreation{
  border: 3px solid #e8e8f0;
  color: #e8e8f0;
  background-color: #253159;
}

.formProductCreation div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.formProductCreation div label {
  font-size: 18px;
  font-weight: bold;
}

.formProductCreation div input[type="text"],
.formProductCreation div input[type="number"],
.formProductCreation div select,
.formProductCreation div textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  background-color: #e8e8f0;
  border: none;
  border-bottom: #0c047c 1px solid;
  color: #0c047c;

}

.formProductCreation .productField input{
  color: #0c047c;
  background-color: #e8e8f0;
}

body.dark .formProductCreation .productField input{
  color: #e8e8f0;
  background-color: #253159;
  border: none;
  border-bottom:1px solid #e8e8f0 ;
}

.formProductCreation div input[type="file"] {
  width: auto;
}

.formProductCreation div input[type="submit"] {
    background-color: #e8e8f0;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.formProductCreation div input[type="submit"]:hover,
.formProductCreation div input[type="file"]:focus {
    background-color: #1259c3;
}

.errorMessage{
  color: rgba(189, 22, 22, 0.686);
}

.buttonCreation{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 40px;
  border-radius: 20px;
  border: none;
  background: #0c047c;
  color: #e8e8f0;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
}

body.dark .buttonCreation{
  background: #e8e8f0;
  color: #253159;
}

.buttonCreation:hover{
transform: scale(1.1);
background-color: #4941d5;
}

body.dark .buttonCreation:hover{
  transform: scale(1.1);
  color: #4941d5;
  background-color: #e8e8f0;
  }