.formProductCreation {
  background-color: #007F7F;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.CreationFormTitle {
  color: white;
  font-size: 1.5rem;
}

main {
  margin: 0;
  padding: 0;
  padding-top: 120px;
  padding-bottom: 20px;
  background-color: #007F7F;
  text-align: center;
}

.formProductCreation {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 50px;
  padding: 20px 15px;
  padding-bottom: 1.5rem;
  width: 85%;
  max-width: 536px;
  border: 5px solid #f3f3f3;
  border-radius: 10px;
  color: white;
  background: radial-gradient(circle, rgb(0, 212, 255) 0%, rgb(9, 21, 130) 0%, rgb(0, 212, 255) 100%);
  text-align: center;
  box-shadow: 0px 0px 15px 2px;
}

.formProductCreation div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.formProductCreation div label {
  font-size: 18px;
  font-weight: bold;
}

.formProductCreation div input[type="text"],
.formProductCreation div input[type="number"],
.formProductCreation div select,
.formProductCreation div textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
}

.formProductCreation div input[type="file"] {
  width: auto;
}

.formProductCreation div input[type="submit"] {
    background-color: #007F7F;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.formProductCreation div input[type="submit"]:hover,
.formProductCreation div input[type="file"]:focus {
    background-color: #1259c3;
}

.botones {
    display: flex;
    justify-content: center; /* // Cambio a "center" para alinear horizontalmente */
    width: calc(100% - 20px);
    margin-top: 10px;
}

.botones button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.botones button:hover {
    transform: scale(1.2);
}

.icon-F, .icon-T, .icon-G {
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 20px;
    color: #1877F2;
    cursor: pointer;
}

.icon-G{
    background-color: white;
    color: black;
}

@media (min-width:700px){
    .boton-IniSesion:hover {
        background-color: rgb(0,212,255,1);
        color: white;
        scale: 1.05;
    }

    .botones button {
        transition: all 500ms;
        color: black;
    }

    .botones button:hover {
        width: 90px;
        border-radius: 50px;
    }

    .icon-G:hover {
        background-color: rgb(222, 218, 218);
    }

    .icon-G:hover > #google{
        font-size: 25px;
        animation: color-icon 4s linear infinite;
    }

    .icon-F:hover{
        background-color: #1877F2;
    }

    .icon-F:hover > #facebook{
        font-size: 25px;
        color: #ffffff;
    }

    .icon-T:hover > #twitter {
        font-size: 25px;
        color: #1D9BF0;
    }
}

/* CSS CREATION RESPONSIVE */
/* 
.formProductCreation{
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px ;


}

.creationFormTitle{

}

.productField{

} */

.errorMessage{
  color: rgba(189, 22, 22, 0.686);
}

.buttonCreation{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: none;
  background: #282877;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
}

.buttonCreation:hover{
opacity: 90%;
/* transform: scale(1.1); */
}