body {
    background-color: #007F7F;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
  header h1 {
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .main-container {
    border: 15px solid rgba(0, 212, 255, 1);
    background: radial-gradient(circle, rgba(9, 21, 130, 1) 0%, rgba(9, 21, 130, 1) 0%, rgba(0, 212, 255, 1) 100%);
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 10px;
    margin: 10% 20%;
    animation: border-color 2s linear alternate-reverse infinite;
  }
  
  @keyframes border-color {
    0% {
      border-top-color: #ffffff;
    }
    25% {
      border-right-color: #ffffff;
    }
    50% {
      border-bottom-color: #ffffff;
    }
    100% {
      border-left-color: #ffffff;
    }
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }
  
  .formulario div {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
  }
  
  .formulario div input {
    width: 80%;
    margin: 0 auto;
    background: none;
    border: none;
    border-bottom: 3px solid rgb(241, 241, 241);
    outline: none;
    color: rgb(0,0,0);
  }
  
  button[type="submit"] {
      border-radius: 50px;
      background-color: white;
      outline: none;
      border: none;
      width: 30vw;
      height: 7vh;
      font-weight: bold;
      cursor: pointer;
      transition-duration:.5s
  }
  
  button[type="submit"]:hover {
      background-color: rgba(0,212,255,1);
      color: white;
      transform: scale(1.05);
      transition-duration: all .15s ease-in-out; 
  }
  
  @media (min-width:700px){
      button[type="submit"]:hover{
          width:90px;border-radius:
          50px;transform-origin:center;transform:
          scale(1.2);transition-duration:.5s
      }
  }
  
  