@import url(normalize.css);

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #e8e8f0;
    font-family: sans-serif;
}

body .dark {
    background-color: #253159;
    color: #e8e8f0;
    border-top: 1px solid #e8e8f0;
}

main {
    color: #e8e8f0;
    box-sizing: border-box;
    padding: 146px 0 50px;
    margin: 5%;
}

/* .main-header {
    width: 100%;
    height: 200px;
    background-image: url(/images/banner.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-header span {
    font-size: 20px;
    color: var(--celeste-blaco);
    cursor: pointer;
    display: flex;
}

.main-header span {
    align-items: center;
    transition: 400ms;
} */

.productLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 0 auto; 
    flex-wrap: wrap;
    padding: 15px;
    transition: all 0.3s;
    text-decoration: none;
    color: #e8e8f0;
    background-color: #0c047c;
    border-radius: 5px;
    border: #0c047c solid 1px;
    font-size: 20px;
}

body.dark .productLink{
    background-color: #e8e8f0;
    color: #253159;
}

.productLink:hover {
    background-color: #4941d5;
    scale: 1.1;
}

body.dark .productLink:hover{
    background-color: #e8e8f0;
    color: #4941d5;
    scale: 1.1;
}

.product {
    text-align: center;
    margin: 15px;
    margin-top: 35px;
    border-radius: 10px;
    border: solid 5px #253159;
    background-color: #e8e8f0;
    box-shadow: 0px 0px 15px 2px;
    cursor: pointer;
}

.product a {
    color: #0c047c;
    text-decoration: none;
    padding: 0 10px;
}

body.dark .product a{
    background-color: #253159;
    color: #e8e8f0;
}

body.dark .product{
    background-color: #253159;
    color: #e8e8f0;
    border: solid 5px #e8e8f0;
}

.product img {
    width: 90%;
    margin-top: 20px;
}

.product p {
    padding: 10px 0;
    text-decoration: none;
}

@media (min-width:380px) {
    .main-footer {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .product {
        width: 39%;
    }
}

@media (min-width:700px) {

    .product {
        width: 19%;
        margin-top: 60px;
        transition: 300ms;
    }

    .product:hover {
        scale: 1.03;
        box-shadow: 0px 0px 15px 4px;
        color: white;
    }

    #icon-left:hover {
        scale: 1.7;
        translate: 10px;
    }

    #icon-right:hover {
        scale: 1.7;
        translate: -10px;
    }
}