body {
    background-color: #007F7F;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

.contenedor-main {
    border: 15px rgb(0,212,255,1) solid;
    background: radial-gradient(circle, rgba(9,21,130,1) 0%, rgba(9,21,130,1) 0%, rgba(0,212,255,1) 100%);
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 10px;
    margin: 10% 20%;
    animation: border-color 2s linear alternate-reverse infinite;
}


@keyframes border-color {
    0% {
        border-top: 15px solid #ffffff;
    }
    25% {
        border-right: 15px solid #ffffff;
    }
    50% {
        border-bottom: 15px solid #ffffff;
    }
    100% {
        border-left: 15px solid #ffffff;
    }
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.formulario div {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.formulario div input {
    width: 80%;
    margin: 0 auto;
    background: none;
    border: none;
    border-bottom: 3px solid rgb(241 241 241);
    outline: none;
    color: rgb(0, 0, 0);
    padding-top: 10px;
}

.boton-IniSesion {
    border-radius: 50px;
    background-color: white;
    outline: none;
    border: none;
    width: 30vw;
    height: 7vh;
    font-weight: bold;
    cursor: pointer;
    transition: all 150ms;

}

.links-conteiner-main {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    color: white;
}

.links-conteiner-main a{
    font-size: 0.80rem;
    transition: all 0.3s;
}

.icon-F, .icon-T, .icon-G {
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 20px;
    color: #1877F2;
    cursor: pointer;
}

.icon-G{
    background-color: white;
    color: black;
}

.formulario .btnCheck{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    align-items: center;
}

.formulario .btnCheck label{
    margin-bottom: 10px;
}


@media (min-width:700px){
    .boton-IniSesion:hover {
        background-color: rgb(0,212,255,1);
        color: white;
        scale: 1.05;
    }

    .links-conteiner-main p a:hover{
        font-size: 0.90rem;
        color: #c1e9dd;
    }

    .botones button {
        transition: all 500ms;
        color: black;
    }

    .botones button:hover {
        width: 90px;
        border-radius: 50px;
    }
    
    .icon-G:hover {
        background-color: rgb(222, 218, 218);
    }

    .icon-G:hover > #google{
        font-size: 25px;
        animation: color-icon 4s linear infinite;
    }
    
    .icon-F:hover{
        background-color: #1877F2;
    }

    .icon-F:hover > #facebook{
        font-size: 25px;
        color: #ffffff;
    }
    
    .icon-T:hover > #twitter {
        font-size: 25px;
        color: #1D9BF0;
    }
    
    @keyframes color-icon {
        0%{color: rgb(220, 42, 42);}
        25%{color: rgb(245, 245, 41);}
        50%{color: rgb(0, 223, 0);}
        75%{color: rgb(0, 247, 255);}
    }
}

.mensajeError {
    color: #ffffff;
    font-size: 15px;
    margin: 5px 5%;
    display: inline-block;
    border: 2px black solid;
    padding: 5px;
}
div.errores {
    color: red;
}