@import url(normalize.css);

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #e8e8f0;
    font-family: sans-serif;
}

body .dark {
    background-color: #253159;
    color: #e8e8f0;
    border-top: 1px solid #e8e8f0;
}

main {
    box-sizing: border-box;
    padding: 40px 0 50px;
}

.conteiner-filter {
    color: #0c047c;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

body.dark .conteiner-filter{
    color: #e8e8f0;
}

.label-order {
    display: flex;
    color: #e8e8f0;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
    margin: 20px 0;
}

.label-order select {
    margin-bottom: 10px;
    border: 2px solid #0c047c;
    width: 140%;
    max-width: 160px;
    background-color: #0c047c;
    color: #e8e8f0;
    border-radius: 5px;
    height: 40px;
    padding: 0 10px;
    outline: none;
}

body.dark .label-order select{
    background-color: #e8e8f0;
    border: 2px solid #253159;
    color: #253159;
}

.product {
    border: 5px solid #0c047c;
    text-align: center;
    margin: 25px;
    border-radius: 10px;
    background:#e8e8f0;
    box-shadow: 0px 0px 15px 2px;
    cursor: pointer;
}

body.dark .product{
    border: 5px solid #e8e8f0;
    background-color: #253159;
}

.product p h2{
    color: #0c047c;
    padding: 10px 0;
}

body.dark .product p h2{
    color: #e8e8f0;
}

.product img {
    width: 90%;
    margin-top: 20px;
}

@media (min-width: 380px) {

    .product-conteiner {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .product {
        width: 39%;
    }
}

@media (min-width: 700px) {
    .product {
        width: 19%;
        transition: 300ms;
    }

    .product:hover {
        scale: 1.03;
        box-shadow: 0px 0px 15px 4px;
    }
}