* {
    box-sizing: border-box;
}

main {
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 120px;
}
.titulo-datos{
    font-size: 20px;
    color: #353839;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;    
    padding: 10px;
    margin: 8px;
}

.contenedor-formulario {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1.875rem;
    padding: 20px 15px;
    padding-bottom: 1.5rem;
    width: 85%;
    max-width: 536px;
    border-radius: 10px;
    background-color: #007F7F;
    text-align: center;
}

h1 {
    color: white;
    font-size: 1.5rem;
}

.formulario {
    margin-left: 10%;
    color: white;
    text-align: left;
}

.texto-formulario {
    font-size: 16px;
}

.barra-formulario {
    margin-top: 8px;
    margin-bottom: 30px;
    padding: 8px;
    width: 88.5%;
    border: solid 1px #ebebeb;
    border-radius: 5px;
}

.barra-formulario2 {
    margin-top: 8px;
    padding: 8px;
    width: 88.5%;
    border: solid 1px #ebebeb;
    border-radius: 5px;
}

.botones {
    display: flex;
    justify-content: space-around;
}

.boton-formulario {
    padding: 5px 10px;
    width: 30%;
    border: none;
    border-radius: 5px;
    transition: all 450ms;
    color: white;
    background-color: #1259c3;
    font-size: 16px;
}

.boton-formulario:hover {
    background-color: #0022AA;
}

hr {
    margin: 0;
    padding: 0;
    height: 10px;
    background-color: black;
}