main {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #e8e8f0;
    text-align: center;
}

body.dark main{
    background-color: #253159;
    color: #e8e8f0;
}

.registerForm {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 20px 15px;
    padding-bottom: 1.5rem;
    width: 85%;
    max-width: 536px;
    border: 5px solid #0c047c;
    border-radius: 10px;
    color: #0c047c;
    background:  #e8e8f0; 
    text-align: center;
    box-shadow: 0px 0px 15px 2px;
}

body.dark .registerForm{
    background-color: #253159;
    border: #e8e8f0 solid 5px;
    color: #e8e8f0;
}

.registerForm h1 {
    color:#0c047c;
    font-size: 1.8rem;
}

body.dark .registerForm h1 {
    color:#e8e8f0;
    font-size: 1.5rem;
}

.formText {
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}

.formBarRegister {
    margin-top: 8px;
    padding: 8px;
    width: 88.5%;
    border: none;
    border-bottom: solid 1px #0c047c;
    background-color: #e8e8f0;
}

body.dark .formBarRegister{
    background-color: #253159;
    color: #e8e8f0;
    border-bottom: #e8e8f0 1px solid;
}

.formBarRegister2 {
    margin-top: 8px;
    padding: 8px;
    width: 88.5%;
    border: none;
    border-bottom: solid 1px #0c047c;
    background-color: #e8e8f0;
}

body.dark .formBarRegister2{
    background-color: #253159;
    color: #e8e8f0;
    border-bottom: #e8e8f0 1px solid;
}

.buttonRegister {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.buttonRegister button {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
    transition: all 500ms;
    color: #e8e8f0;
    background-color: #0c047c;
    border: #253159 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.buttonRegister button:hover {
    scale: 1.1;
    color: #253159;
    background-color: #e8e8f0;
}

body.dark .buttonRegister button{
    background-color: #e8e8f0;
    color: #253159;
    border: 1px solid #e8e8f0;
}

body.dark .buttonRegister button:hover{
    scale: 1.1;
    color: #e8e8f0;
    background-color: #253159f0;
}

 .formButtonRegister {
    padding: 5px 10px;
    width: 30%;
    border: none;
    border-radius: 5px;
    transition: all 450ms;
    color: #e8e8f0;
    background-color: #0c047c;
    font-size: 16px;
}

.boton-formulario:hover {
    background-color: #0c047c;
}

.errorMessageRegister {
    margin-top: 10px;
    margin-left: 10%;
    text-align: left;
    color: red;
}

.Error{
    margin-bottom: 30px;
    color: red;
}