* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #e8e8f0;
  color: #0c047c;
  border: #0c047c;
}

body.dark {
  background-color: #253159;
  color: #e8e8f0;
  border: #e8e8f0;
}

body.dark header {
  background-color: #253159;
  color: #e8e8f0;
  border-bottom: 1px solid #e8e8f0;
}

.logoHeaderDarkMode {
  display: none;
}

.logoHeader {
  display: block;
}

body.dark .logoHeader {
  display: none;
}

body.dark .logoHeaderDarkMode {
  display: block;
}

/* ---------- HEADER ---------- */


@media (max-width: 576px) {}

@media (max-width: 768px) {}


@media (max-width: 992px) {}

@media (min-width: 1200px) {}

header {
  display: flex;
  height: 120px;
  margin: auto;
  align-items: center;
  padding: 15px;
  background-color: #E8E8F0;
  border: none;
  border-bottom: 1px solid #0c047c;
  font-family: sans-serif;
  font-size: 18px;
}

.logoHeader .logoHeaderDarkMode {
  width: 15%;
  align-items: center;
  align-content: center;

}

.logoImage {
  height: 140px;
  padding-top: 15px;
}

.searchHeader {
  position: relative;
  width: 30%;
}

.searchBar {
  background-color: #E8E8F0;
  color: black;
  outline: none;
  width: 100%;
  padding: 10px;
  padding-right: 35px;
  border: 1px solid #0c047c;
  border-radius: 5px;
  font-size: 16px;
  font-family: sans-serif;
}

body.dark .searchBar {
  background-color: #253159;
  color: #e8e8f0;
  border: 1px solid #e8e8f0;
}

.searchButton {
  background-color: #0c047c;
  color: white;
  margin: auto;
  position: absolute;
  right: -9%;
  padding: 10px 10px;
  font-size: 16px;
  border: 1px solid #0c047c;
  border-radius: 0 5px 5px 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

body.dark .searchButton {
  background-color: #253159;
  color: #e8e8f0;
  border: 1px solid #e8e8f0;
}

.searchButton:hover {
  background-color: #4941d5;
  color: white;
}

body.dark .searchButton:hover {
  color: #4941d5;
  background-color: #e8e8f0;
}

.searchMicrophone {
  background-color: #E8E8F0;
  color: #0c047c;
  margin: auto;
  position: absolute;
  padding: 10px 10px;
  font-size: 16px;
  border: 1px solid #0c047c;
  border-right: none;
  border-left: none;
  top: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

body.dark .searchMicrophone {
  background-color: #253159;
  color: #e8e8f0;
  border: 1px solid #e8e8f0;
  border-right: none;
  border-left: none;
}

.searchMicrophone:hover {
  background-color: #E8E8F0;
  color: #4941d5;
}

body.dark .searchMicrophone:hover {
  background-color: #253159;
  color: #4941d5;
}

.floatWindows {
  display: none;
  background-color: #e8e8f0;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 29.5%;
  transition: 0.5s ease all;
  border-radius: 0 0 25px 25px;
  border: #0c047c solid 1px;
  border-top: none;
  position: absolute;
  margin-left: -452px;
  margin-top: 20px;
}

.floatWindows.interaction {
  display: flex;
  /* 
    width: 50%;
    height: 50%;
    line-height: 50%;
    justify-content: center;
    align-items: center; */
}

.voiceSearch span {
  color: #0c047c;
  font-family: sans-serif;
  font-size: 20px;
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-bottom: 40%;
}

.voiceSearchIcon {
  background-color: #0c047c;
  font-size: 40px;
  padding: 25px;
  color: #e8e8f0;
  align-items: center;
  justify-content: center;
  border-radius: 15%;
  border: #0c047c solid 2px;
  margin-top: 15%;
  animation: borderAnimation 1s ease infinite;
}

@keyframes borderAnimation {
  0% {
    border: 2px solid #0c047c;
    background-color: #e8e8f0;
    color: #0c047c;
  }

  50% {
    border: 4px solid #0c047c;
  }

  100% {
    border: 2px solid #0c047c;
  }
}

.voiceSearchIcon i {
  padding-right: 0px;
}


.searchScreen {
  display: none;
}

.filterSearch {
  display: none;
}

.menuHeader {
  width: 50%;
  text-align: center;
  padding: 0 40px 0 40px;
  align-items: center;
}

.horizontalMenuOption {
  padding: 0 40px 40px 0;
}

.menuHeader li a {
  display: block;
  background-color: #E8E8F0;
  color: #0c047c;
  text-decoration: none;
  list-style: none;
  padding: 20px 5px;
}

body.dark .menuHeader li a {
  background-color: #253159;
  color: #e8e8f0;
}

.horizontalMenu {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

ul {
  list-style: none;
}

.menuHeader li button:hover {
  background-color: #0c047c;
  color: white;
}

body.dark .menuHeader li button:hover {
  color: #253159;
  background-color: #e8e8f0;

}

.menuHeader li ul {
  display: none;
  position: absolute;
  min-width: 140px;

}

.menuHeader li:hover>ul {
  display: block;
}

/* Submenus */
.menuHeader li ul li {
  position: relative;
}

.menuHeader li ul li ul {
  right: -140px;
  top: 0px;
}

header i {
  padding-right: 5px;
}

.darkMode {
  background-color: #0c047c;
  border-radius: 1000px;
  display: flex;
  position: relative;
  outline: none;
  border: none;
  cursor: pointer;
}

#mode1,
#mode2 {
  color: #E8E8F0;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding-left: 2px;
}

.darkMode::after {
  content: "";
  display: block;
  position: absolute;
  width: 29px;
  height: 29px;
  background-color: #E8E8F0;
  top: 0;
  left: 0;
  right: auto;
  border-radius: 100px;
  transition: 0.2s ease all;
  box-shadow: 0 0 2px 2px rgba(12, 4, 124, 0.2);
}

.darkMode.active::after {
  background-color: #E8E8F0;
  right: 0;
  left: auto;
}

.darkMode.active {
  background-color: #253159;
  color: #253159;
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.2);
}


/* ---------- FOOTER ---------- */

footer {
  background-color: #E8E8F0;
  color: #0c047c;
  font-family: sans-serif;
  border-top: 1px solid #0c047c;
}

body.dark footer {
  background-color: #253159;
  color: #e8e8f0;
  border-top: 1px solid #e8e8f0;
}

.container {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoFooter .logoFooterDarkMode {
  position: absolute;
  width: 50px;
}

.logoFooterDarkMode {
  display: none;
}

body.dark .logoFooter {
  display: none;
}

body.dark .logoFooterDarkMode {
  display: flex;
}

.logoImage {
  max-width: 100%;
}

.container {
  display: flex;
  align-items: center;
}

.redirectContainer {
  text-align: center;
}

.redirectContainer a {
  text-decoration: none;
  color: #0c047c;
}

body.dark .redirectContainer a {
  color: #e8e8f0;
}

.redirectContainer ul li {
  padding: 15px;
}

#iconFooter {
  font-size: 20px;
}

.containerFooter {
  font-size: 12px;
  text-align: center;
  padding: 20px 10px;
  width: 100%;
}

@media (min-width: 635px) {
  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .redirectContainer{
    flex-direction: row;
  }

}

@media (min-width: 1024px) {}
