* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


main .conteinerAll {
    width: auto;
    background: rgb(190,190,190);
    background: linear-gradient(190deg, rgb(114 122 123) 25%, rgb(79 128 179) 50%);
    display: flex;
}

.conteinerCardUsers {
    max-width: 250px;
    width: 80vw;
    margin: 10px auto;
    background: rgb(190,190,190);
    background: linear-gradient(0deg, rgb(114 122 123) 25%, rgb(79 128 179) 50%);
    height: auto;
    border-radius: 5px ;
    border: 2px solid white;
}

.card {
    background-color: #8683e700;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    margin: 10px;
    align-items: center;
    font-size: 0.7em;
    max-width: 235px;
    color: #f7f7f7;
    border-radius: 4px;
}

.card p {
    margin: 5px auto ;
}

.image-user {
    margin-top: 5px;
    width: 80%;
}

.image-user img {
    width: 100%;
    border-radius: 5px;
    transition: 0.4s;
}

.btnAdmin {
    background-color: #8683e700;
    backdrop-filter: blur(5px);
    scale: 0.7;
    width: 100%;
    border: 1px solid;
    cursor: pointer;
    box-shadow: 3px 3px 2px -2px;
    border-radius: 2px;
    color: peachpuff;
    font-weight: bold;
    backdrop-filter: blur(5px);
    margin-bottom: 5px;
}


@media (min-width : 500px) {
    .conteinerCardUsers {
        max-width: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        font-size: 1em;
        max-width: none;
        width: 45%;
    }
}

@media (min-width : 800px) {
    .image-user img:hover{
        margin-top: 20px;
        scale: 1.2;
    }
    .btnAdmin {
        font-size: 1.3em;
        transition: 0.4s;
    }
    .card {
        width: 30%;
        font-size: 1.2em;
    }

    .btnAdmin:hover {
        scale: 0.8;
    }
}