* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

main {
    margin: 0;
    padding: 0;
    padding-top: 120px;
    padding-bottom: 30px;
    background-color: #007F7F;
    text-align: center;
}

.carteluser {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 20px;
    padding: 20px 15px;
    padding-bottom: 1.5rem;
    max-width: 500px;
    border: 5px solid #f3f3f3;
    border-radius: 10px;
    color: white;
    background: radial-gradient(circle, rgb(0, 212, 255) 0%, rgb(9, 21, 130) 0%, rgb(0, 212, 255) 100%);
    font-size: 20px;
    box-shadow: 0px 0px 15px 2px;
}

.informacionCartel {
    font-size: 1.5rem;
}

.botonuser {
    padding: 5px 10px;
    width: 30%;
    border: none;
    border-radius: 5px;
    transition: all 450ms;
    color: white;
    background-color: #1259c3;
    font-size: 16px;
}

.botonuser:hover {
    background-color: #0022AA;
}

.contenedor-informacion {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.informacionCuenta1 {
    margin: 5px;
    width: 45%;
    text-align: left;
}

.informacionCuenta2 {
    width: 100%;
    border: 5px solid #f3f3f3;
    border-radius: 5px;
    color: black;
    background-color: white;
}

h1 {
    color: white;
    font-size: 1.5rem;
}

.botones2 {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}