<%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/login.css" />
    </head>

    <body>
        <main>

            <form action="/usuario/password?_method=patch" method="post" class="contenedor-main" id="formResetPassword">
                <div>
                    <h2>Recupera tu Contraseña</h2>
                </div>
                <div class="formulario">
                    <div>
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" value="<%=locals.old ? old.email : null %>"/>
                    </div>
                    <div class="errores" id="emailError"></div>
                    <div>
                        <label for="phone">Telefono</label>
                        <input type="text" name="phone" id="phone" value="<%=locals.old ? old.phone : null %>"/>
                    </div>
                    <div class="errores" id="phoneError"></div>
                    <div>
                        <label for="password">Nueva Contraseña</label>
                        <input type="password" name="password" id="password" />
                    </div>
                    <div class="errores" id="passwordError"></div>
                    </div>
                    <div class="errores" id="passwordError"></div>
                    <% if (locals.errors) { errors.forEach(error=> { %>
                        <div>
                            <% if (!error.msg == false) { %>
                                <p class="mensajeError">
                                    <%= error.msg%>
                                </p>
                            <% } %>
                        </div>
                    <%}) }%>
                        <button class="boton-IniSesion" type="submit" id="btnResetPassword">Cambiar la Contraseña</button>
                        <div class="links-conteiner-main">
                            <p><a href="/usuario/login">Ya tienes una cuenta?</a></p>
                        </div>
                        <div class="botones">
                            <button class="icon-G"><i class="fa-brands fa-google" id="google"></i></button>
                            <button class="icon-F"><i class="fa-brands fa-facebook" id="facebook"></i></button>
                            <button class="icon-T"><i class="fa-brands fa-twitter" id="twitter"></i></button>
                        </div>

            </form>
        </main>
            <script>
                let valid0 = false;
                let valid1 = false;
                let valid2 = false;

                window.addEventListener('load', function () {
                let formResetPassword = document.querySelector('#formResetPassword')
                let email = document.querySelector('#email')
                let emailError = document.querySelector('#emailError')
                let password = document.querySelector('#password')
                let passwordError = document.querySelector('#passwordError')
                let phoneError = document.querySelector('#phoneError')
                let phone = document.querySelector('#phone')

                email.addEventListener('blur', function () {
                    if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(this.value)) {
                        emailError.innerHTML = 'Ingresa un Email válido.';
                        valid0 = false;
                    } else {
                        emailError.innerHTML = ''
                        valid0 = true
                    }
                })
                password.addEventListener('blur', function () {
                    if (this.value.length < 8) {
                        passwordError.innerHTML = 'El campo contraseña debe tener al menos 8 caracteres.',
                        valid1 = false;
                    } else if (this.value == " "){
                        passwordError.innerHTML = 'El campo contraseña debe estar completo.',
                        valid1 = false;
                    } else {
                        passwordError.innerHTML = ''
                        valid1 = true
                    }
                })
                phone.addEventListener('blur', function () {
                    if (this.value.trim().length !== 10) {
                        phoneError.innerHTML = 'Ingresa un número válido.';
                        valid2 = false;
                    } else {
                        phoneError.innerHTML = ''
                        valid2 = true
                    }
                })
                formResetPassword.addEventListener('submit', function (event) {
                    if (!(valid0 && valid1 && valid2)) {
                        event.preventDefault()
                    }
                })
            })
        </script>
    </body>

    </html>