
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {background-color:black;color: rgb(230, 243, 255);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;display: flex;flex-direction: column;align-items: center;}
    </style>
    <title>Error</title>
</head>
<body>
    
    <h1>La pagina no ha sido encontrada</h1>
    
    <img src="https://imgs.search.brave.com/pYGRzKwnxmdh9tRgq9r7jLZrW7Y7MQUuF2ePiWC3j7o/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMud2lraWEubm9j/b29raWUubmV0L3Nw/b25nZWJvYi9pbWFn/ZXMvZi9mZC9Cb2Jf/RXNwb25qYV9jYW5j/aSVDMyVCM25fRi5V/Lk5fKEVuX0Nhc3Rl/bGxhbm9fcGVyb19z/aW5faW1hZ2VuKS9y/ZXZpc2lvbi9sYXRl/c3Qvc2NhbGUtdG8t/d2lkdGgtZG93bi8x/ODA_Y2I9MjAyMTA2/MjIwODE5MTA" width="400vw" height="400vh" alt="bob-esponja-img">
    <!-- <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre> -->
</body>
</html>
