<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/41f1ff2ee2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <header>




























    </header>
    <main>
        <h1>Bienvenido a 7ECNOSHOP</h1>
        <div class="main-conteiner">
            <section class="bannner-conteiner">
                <img src="images/banner.jpg" alt="banner.jpg">
                <i class="fa-solid fa-circle-chevron-right"></i>
                <i class="fa-solid fa-circle-chevron-left"></i>
            </section>
            <section class="button-coteiner">
                <button class="button">
                    boton
                </button>
                <button class="button">
                    boton
                </button>
                <button class="button">
                    boton
                </button>
            </section>
            <label for="order">
                <select name="order" id="order">
                    <option value disabled selected>Elige el orden </option>
                    <option value="higher-price">Mayor precio</option>
                    <option value="lower-price">Menor precio</option>
                    <option value="on-sale">En ofertas</option>
                    <option value="latest">Recientes</option>
                </select>
            </label>
            <label for="range-price">Rango de precio
                <input type="range">
            </label>
            <section class="main-footer">
                <div class="product">
                    <img src="images/celulares/samsung/samsun-galaxy-a04e-azul-frente.png" alt="samsun-galaxy-a04e-azul" class="smartphone">
                    <h2 class="tittle-for-product">Producto1</h2>
                </div>
                <div class="product">
                    <img src="images/celulares/samsung/samsun-galaxy-a04e-azul-frente.png" alt="samsun-galaxy-a04e-azul" class="smartphone">
                    <h2 class="tittle-for-product">Producto2</h2>
                </div>
                <div class="product">
                    <img src="images/celulares/samsung/samsun-galaxy-a04e-azul-frente.png" alt="samsun-galaxy-a04e-azul" class="smartphone">
                    <h2 class="tittle-for-product">Producto3</h2>
                </div>
                <div class="product">
                    <img src="images/celulares/samsung/samsun-galaxy-a04e-azul-frente.png" alt="samsun-galaxy-a04e-azul" class="smartphone">
                    <h2 class="tittle-for-product">Producto4</h2>
                </div>
                <div class="product">
                    <img src="images/celulares/samsung/samsun-galaxy-a04e-azul-frente.png" alt="samsun-galaxy-a04e-azul" class="smartphone">
                    <h2 class="tittle-for-product">Producto5</h2>
                </div>
                <div class="product">
                    <img src="images/celulares/samsung/samsun-galaxy-a04e-azul-frente.png" alt="samsun-galaxy-a04e-azul" class="smartphone">
                    <h2 class="tittle-for-product">Producto6</h2>
                </div>
            </section>
        </div>
    </main>

    <footer>

    </footer>
</body>

</html>