<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio de sesion</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/login.css" />
    <link href="css/stylesBody.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
  </head>

  <body>
    <header></header>
    <main>
      <!--zona lateral derecha-->
      <!-- <section class="seccion-lateral">        
            <div>
                <button>Marcas</button>
                <ul>
                    <li>Samsung</li>
                    <li>Iphone</li>
                    <li>Motorola</li>
                    <li>Xiaomi</li>
                </ul>
                <button>Ram</button><br>
                <button>Pantalla</button><br>
                <button>Precio</button>
            </div>
        </section> -->
      <section class="contenedor-main">
        <!--div con el Login-->
        <div>
          <h2>Iniciar sesion</h2>
          <p>Inicie sesion para acceder a su cuenta</p>
        </div>
        <!--Inputs-->
        <form>
        <div class="formulario">
          <div>
              <label for="email">Email</label>
              <input type="email" name="email" id="email" />
          </div>
          <div>
              <label for="password">Contraseña</label>
              <input type="password" name="password" id="password" />
          </div>
        </div>
          <button class="boton-IniSesion">Iniciar Sesion</button>
        </form>
        <div class="cambiar-Contra">
          <p>Olvidaste tu Contraseña</p>
        </div>
        <div class="botones">
          <!--Botones de redes sociales-->
          <button class="icon-G"><i class="fa-brands fa-google" id="google"></i></button>
          <button class="icon-F"><i class="fa-brands fa-facebook" id="facebook"></i></button>
          <button class="icon-T"><i class="fa-brands fa-twitter" id="twitter"></i></button>
        </div>
      </section>
    </main>

    <footer>
      <div class="caja1">
          <i class="fa-solid fa-microchip" id="logo"></i>
          <h1 class="titulo-logo">7ecno Shop</h1>
      </div>

      <div class="caja2">
          <div class="TecnoShop">
              <h3 class="titulo">7ecno Shop</h3>
              <a href="">Acerca de</a>
              <a href="">Terminos y Condiciones</a>
              <a href="">Privacidad</a>
          </div>

          <div class="Informacion">
              <h3 class="titulo">Información</h3>
              
              <a href="">Contactanos</a>
              <a href="">Centro de Ayuda</a>
              <a href="">Comunidad</a>
              <a href="">Libro de Quejas Online</a>
          </div>

          <div class="Productos">
              <h3 class="titulo">Productos</h3>
              <a href="/">Inicio</a>
              <a href="/producto">Celulares</a>
              <a href="/producto">Acesorios</a>
              <a href="/carrito">Botón de Arrepentimiento</a>
          </div>

          <div class="caja3">
              <h3 class="titulo">Suscribite para recibir nuestras mejores ofertas y promociones</h3>
              <form action="" method="POST" class="suscripcion">
                  <input type="email" name="email" placeholder="Ingresá tu e-mail" class="email-sus">
                  <button type="submit" class="boton-suscripcion"><i class="fa-solid fa-arrow-right"></i></button>
              </form>
              <div class="redes">
                  <button class="boton-red"><a href="" ><i class="fa-brands fa-facebook" id="icono-red"></i></a></button>
                  <button class="boton-red"><a href=""><i class="fa-brands fa-instagram" id="icono-red"></i></a></button>
                  <button class="boton-red"><a href=""><i class="fa-brands fa-twitter" id="icono-red"></i></a></button>
                  <button class="boton-red"><a href=""><i class="fa-brands fa-youtube" id="icono-red"></i></a></button>
              </div>
          </div>
          
      </div>


      <div class="caja4">
          <p>Copyright © 2023 7ecno Shop. Todos los Derechos Reservados</p>
      </div>

  </footer>
  </body>
</html>
