<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
     <header>
        <h1> Carrito de Compras</h1>
    </header>
     <section>
        <h2>Resumen de Compra</h2>
        
        <div class="product">
            <img src="/images/celulares/samsung/samsun-galaxy-a04e-cobre-frente.png" alt="Celular Samsung Cobre">
            <div>
                <h3>Celular 1</h3>
                <p>Precio: $69999</p>
                <input type="number" min="0" value="1">
                <button>Eliminar</button>
            </div>
        </div>

        <div class="product">
            <img src="" alt="Celular Xiaomi note 11">
            <div>
                <h3>Celular 2</h3>
                <p>Precio: $85999</p>
                <input type="number" min="0" value="1">
                <button>Eliminar</button>
            </div>
        </div>

        <div class="product">
            <img src="" alt="Cargador Inalambrico Magnetico">
            <div>
                <h3>Accesorio 1</h3>
                <p>Precio: $5000</p>
                <input type="number" min="0" value="1">
                <button>Eliminar</button>
            </div>
        </div>

        <div class="product">
            <img src="" alt="Funda Samsung Galaxi A04">
            <div>
                <h3>Accesorio 2</h3>
                <p>Precio: $1999</p>
                <input type="number" min="0" value="1">
                <button>Eliminar</button>
            </div>
        </div>

        <div class="total">
            <p>Total: $240999</p>
            <button>Realizar Pago</button>
        </div>
    </section>
     <footer> 
         <p>© 2021 Nuestro Commerce - Todos los derechos reservados</p>
    </footer>
</body>

</html>