<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/productCart.css">
    <link href="css/stylesBody.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/66475e2c73.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <header>
        <div class="cajax">
          <i class="fa-solid fa-microchip" id="logo"></i>
          <h1 class="titulo-logo">7ecno Shop</h1>
      </div>
        </div>
  
        <div class="contenido-header">
            <i class="fa-solid fa-piggy-bank" id="icono"></i>
            <a href="/" class="header-enlaces">Ofertas</a>
        </div>
        <div class="contenido-header">
            <i class="fa-solid fa-mobile-screen-button" id="icono"></i>
            <a href="/producto" class="header-enlaces">Celulares</a>
        </div>
        <div class="contenido-header">
            <i class="fa-solid fa-headphones" id="icono"></i>
            <a href="/producto" class="header-enlaces">Accesorios</a>
        </div>
        <div>
            <form action="" method="POST" class="buscador">
                <input type="search" name="barra-busqueda" placeholder="¿Qué estás buscando?" class="barra-busqueda">
                <button type="submit" class="boton-busqueda"><i class="fa-brands fa-sistrix"></i></button>
            </form>
        </div>
        <div class="contenido-header">
            <i class="fa-solid fa-heart" id="icono"></i>
            <a href="/registro" class="header-enlaces">Registro</a>
        </div>
        <div class="contenido-header">
            <i class="fa-solid fa-cart-shopping" id="icono"></i>
            <a href="/carrito" class="header-enlaces">Mi carrito</a>
        </div>
        <div class="contenido-header">
            <i class="fa-regular fa-circle-user" id="icono"></i>
            <a href="/login" class="header-enlaces">Mi cuenta</a>
        </div>
    </header>
    <main>
     <section>
        <h2>Resumen de Compra</h2>
        
        <div class="product">
            <img src="/images/celulares/samsung/samsun-galaxy-a04e-cobre-frente.png" alt="Celular Samsung Cobre">
            <div>
                <h3>Celular Samsung</h3>
                <p>Precio: $69999</p>
                <input type="number" min="0" value="1">
                <button>Eliminar</button>
            </div>
        </div>

        <div class="product">
            <img src="/images/celulares/xiaomi/Xiaomi-redmi-note-11-frente-negro.png" alt="Celular Xiaomi note 11">
            <div>
                <h3>Celular Xiaomi</h3>
                <p>Precio: $85999</p>
                <input type="number" min="0" value="1">
                <button>Eliminar</button>
            </div>
        </div>

        <div class="product">
            <img src="/images/producto-para-celulares/PureGear-Cargador-Inálambrico-Magnético-uso.webp" alt="Cargador Inalambrico Magnetico">
            <div>
                <h3>Cargador Inalambrico</h3>
                <p>Precio: $5000</p>
                <input type="number" min="0" value="1">
                <button>Eliminar</button>
            </div>
        </div>

        <div class="product">
            <img src="/images/producto-para-celulares/funda-Samsung-Galaxy-A04.webp" alt="Funda Samsung Galaxi A04">
            <div>
                <h3>Funda Samsung</h3>
                <p>Precio: $1999</p>
                <input type="number" min="0" value="1">
                <button>Eliminar</button>
            </div>
        </div>

        <div class="total">
            <p>Total: $240999</p>
            <button>Realizar Pago</button>
        </div>
    </section>
</main>
    <footer>
        <div class="caja1">
            <i class="fa-solid fa-microchip" id="logo"></i>
            <h1 class="titulo-logo">7ecno Shop</h1>
        </div>

        <div class="caja2">
            <div class="TecnoShop">
                <h3 class="titulo">7ecno Shop</h3>
                <a href="">Acerca de</a>
                <a href="">Terminos y Condiciones</a>
                <a href="">Privacidad</a>
            </div>

            <div class="Informacion">
                <h3 class="titulo">Información</h3>
                
                <a href="">Contactanos</a>
                <a href="">Centro de Ayuda</a>
                <a href="">Comunidad</a>
                <a href="">Libro de Quejas Online</a>
            </div>

            <div class="Productos">
                <h3 class="titulo">Productos</h3>
                <a href="/">Inicio</a>
                <a href="/producto">Celulares</a>
                <a href="/producto">Acesorios</a>
                <a href="/carrito">Botón de Arrepentimiento</a>
            </div>

            <div class="caja3">
                <h3 class="titulo">Suscribite para recibir nuestras mejores ofertas y promociones</h3>
                <form action="" method="POST" class="suscripcion">
                    <input type="email" name="email" placeholder="Ingresá tu e-mail" class="email-sus">
                    <button type="submit" class="boton-suscripcion"><i class="fa-solid fa-arrow-right"></i></button>
                </form>
                <div class="redes">
                    <button class="boton-red"><a href="" ><i class="fa-brands fa-facebook" id="icono-red"></i></a></button>
                    <button class="boton-red"><a href=""><i class="fa-brands fa-instagram" id="icono-red"></i></a></button>
                    <button class="boton-red"><a href=""><i class="fa-brands fa-twitter" id="icono-red"></i></a></button>
                    <button class="boton-red"><a href=""><i class="fa-brands fa-youtube" id="icono-red"></i></a></button>
                </div>
            </div>
            
        </div>


        <div class="caja4">
            <p>Copyright © 2023 7ecno Shop. Todos los Derechos Reservados</p>
        </div>

    </footer>
</body>

</html>