<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productEdition</title>
    <link rel="stylesheet" href="/public/css/register.css">
</head>
<body>
    <main>
        <form action="/" method="GET" class="contenedor-formulario">
            <h1>Completá los datos para crear tu cuenta</h1>

            <div class="formulario">
                <label for="nombre" class="texto-formulario"> Nombre del producto </label>
                <input type="text" name="nombre" class="barra-formulario" required>

                <label for="comentario" class="texto-formulario"> Descripcion del producto </label>
                <textarea name="comentario" id="comentario" cols="30" rows="10"></textarea>

                <label for="imagen" class="texto-formulario">Imagen del producto</label>
                <input type="file" name="img" accept=".jpg, .png" multiple class="barra-formulario">

                <label for="categoria" class="texto-formulario">Categoria</label>
                <input type="checkbox" name="categoria" value="Celulares" class="barra-formulario2">
                <input type="checkbox" name="categoria" value="Computadoras" class="barra-formulario2">
                <input type="checkbox" name="categoria" value="Accesorios" class="barra-formulario2">
                
                
            </div>

            <div class="botones2">
                <button type="submit" class="boton-formulario">Enviar</button>
                <button type="reset" class="boton-formulario">Borrar</button>
            </div>

        </form>
        <hr>
.
    </main>
</body>
</html>