<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="css/register.css">
    <link href="css/stylesBody.css" rel="stylesheet">
</head>

<body>
    <header>




























    </header>
    <main>
        <form action="/" method="GET" class="formulario">
            <div class="formulario1">
                <h3>Datos personales</h3>
                <input type="text" name="nombre" placeholder="Nombre y apellido" minlength="3" class="formulario2" required>
            </div>
            <div class="formulario1">
                <input type="text" name="usuario" placeholder="Nombre de usuario" class="formulario2" required>
            </div>
            <div class="formulario1">
                <input type="email" name="email" placeholder="E-mail" class="formulario2" required>
            </div>
            <div class="formulario1">
                <input type="tel" name="telefono" placeholder="Teléfono" class="formulario2">
            </div>
            <div class="formulario1">
                <input type="text" name="domicilio" placeholder="Domicilio" class="formulario2">
            </div>
            <div class="formulario1">
                <h3>Imagen de usuario (Opcional)</h3>
                <input type="file" name="fotoUsuario" accept=".jpg, .png" class="formulario2"></input>
            </div>
            <div class="formulario1">
                <h3>Contraseña</h3>
                <input type="password" name="contrasena" placeholder="Contraseña" class="formulario2" required>
            </div>
            <div class="formulario1">
                <input type="password" name="Ccontrasena" placeholder="Confirmar contraseña" class="formulario2" required>
            </div>
            <button type="submit" class="boton-formulario">Enviar</button>
            <button type="reset" class="boton-formulario">Borrar</button>
        </form>













































































    </main>

    <footer>
        <div>
            <h4>7ecno Shop</h4>
            <p>Acerca de</p>
            <p>Terminos y Condiciones</p>
            <p>Privacidad</p>
        </div>
        <div>
            <h4>Información</h4>
            <p>Contactanos</p>
            <p>Centro de Ayuda</p>
            <p>Comunidad</p>
            <p>Blog</p>
            <p>Libro de Quejas Online</p>
        </div>
        <div>
            <h4>Productos</h4>
            <p>Buscar</p>
            <p>Inicio</p>
            <p>Celulares</p>
            <p>Acesorios</p>
            <p>Botón de Arrepentimiento</p>
        </div>
        <div>
            <p>Suscribite para recibir nuestras mejores ofertas y promociones</p>
            <form action="" method="POST">
                <input type="email" name="email" placeholder="Ingresá tu e-mail">
                <button type="submit">Suscribirme</button>
            </form>
        </div>
    </footer>
</body>

</html>