<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="css/register.css">
    <link href="css/stylesBody.css" rel="stylesheet">
</head>

<body>
    <header>
        <a href="" class="header-enlaces">Ofertas</a>
        <a href="" class="header-enlaces">Celulares</a>
        <a href="" class="header-enlaces">Accesorios</a>
        


























    </header>
    <main>
        <div class="registro">
            <form action="/" method="GET" class="formulario">
                <div class="formulario-registro">
                    <h3 class="titulo-datos">Datos personales</h3>
                    <input type="text" name="nombre" placeholder="Nombre y apellido" minlength="3"
                        class="input-registro" required>
                </div>
                <div class="formulario-registro">
                    <input type="text" name="usuario" placeholder="Nombre de usuario" class="input-registro" required>
                </div>
                <div class="formulario-registro">
                    <input type="email" name="email" placeholder="E-mail" class="input-registro" required>
                </div>
                <div class="formulario-registro">
                    <input type="tel" name="telefono" placeholder="Teléfono" class="input-registro">
                </div>
                <div class="formulario-registro">
                    <input type="text" name="domicilio" placeholder="Domicilio" class="input-registro">
                </div>
                <div class="formulario-registro">
                    <h3 class="titulo-datos">Imagen de usuario (Opcional)</h3>
                    <input type="file" name="fotoUsuario" accept=".jpg, .png" class="input-registro"></input>
                </div>
                <div class="formulario-registro">
                    <h3 class="titulo-datos">Contraseña</h3>
                    <input type="password" name="contrasena" placeholder="Contraseña" class="input-registro" required>
                </div>
                <div class="formulario-registro">
                    <input type="password" name="contrasena2" placeholder="Confirmar contraseña" class="input-registro"
                        required>
                </div>
        <button type="submit" class="boton-formulario">Enviar</button>
        <button type="reset" class="boton-formulario">Borrar</button>
            </div>
        </form>













































































    </main>

    <footer>
        <div class="caja1"></div>
        <div class="caja2">
            <div class="TecnoShop">
                <h3 class="titulo">7ecno Shop</h3>
                <a href="">Acerca de</a>
                <a href="">Terminos y Condiciones</a>
                <a href="">Privacidad</a>
            </div>
            <div class="Informacion">
                <h3 class="titulo">Información</h3>
                <a href="">Contactanos</a>
                <a href="">Centro de Ayuda</a>
                <a href="">Comunidad</a>
                <a href="">Libro de Quejas Online</a>
            </div>
            <div class="Productos">
                <h3 class="titulo">Productos</h3>
                <a href="">Buscar</a>
                <a href="">Inicio</a>
                <a href="">Celulares</a>
                <a href="">Acesorios</a>
                <a href="">Botón de Arrepentimiento</a>
            </div>
            <div class="formularioDeSuscripcion">
                <h3 class="titulo">Suscribite para recibir nuestras mejores ofertas y promociones</h3>
                <form action="" method="POST">
                    <input type="email" name="email" placeholder="Ingresá tu e-mail" class="email-sus">
                    <button type="submit" class="boton-suscripcion">Suscribirme</button>
                </form>
            </div>
        </div>
        <div class="caja3">
            <p>Copyright © 2023 7ecno Shop. Todos los Derechos Reservados</p>
        </div>
    </footer>
</body>

</html>