<%- include('./partials/head') %>
    <link rel="stylesheet" href="css/register.css">
    </head>

    <body>

        <%- include('./partials/header') %>

            <main>
                <form action="/" method="GET" class="contenedor-formulario">
                    <h1>Completá los datos para crear tu cuenta</h1>

                    <div class="botones">
                        <button class="icon-G"><i class="fa-brands fa-google" id="google"></i></button>
                        <button class="icon-F"><i class="fa-brands fa-facebook" id="facebook"></i></button>
                        <button class="icon-T"><i class="fa-brands fa-twitter" id="twitter"></i></button>
                    </div>

                    <div class="formulario">
                        <label for="nombre" class="texto-formulario">
                            Elegí tu nombre
                        </label>
                        <input type="text" name="nombre" placeholder="Nombre y apellido" minlength="3"
                            class="barra-formulario" required>

                        <label for="email" class="texto-formulario">
                            Agregá tu e-mail
                        </label>
                        <input type="email" name="email" placeholder="E-mail" class="barra-formulario" required>

                        <label for="telefono" class="texto-formulario">
                            Agregá tu celular
                        </label>
                        <input type="tel" name="telefono" placeholder="Teléfono" class="barra-formulario">

                        <label for="contrasena" class="texto-formulario">
                            Contraseña
                        </label>
                        <input type="password" name="contrasena" placeholder="Contraseña" class="barra-formulario2"
                            required>
                        <input type="password" name="contrasena2" placeholder="Confirmar contraseña"
                            class="barra-formulario2" required>
                    </div>

                    <div class="botones2">
                        <button type="submit" class="boton-formulario">Enviar</button>
                        <button type="reset" class="boton-formulario">Borrar</button>
                    </div>

                </form>
          
            </main>

            <%- include('./partials/footer') %>

    </body>

    </html>