<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/register.css">
    <link href="css/stylesBody.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/66475e2c73.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <div class="localizador">
            <i class="fa-solid fa-location-dot" id="icono"></i>
            <input type="number" name="codigo-postal" placeholder="Ingresá tu código postal" class="barra-postal">
        </div>
        <div class="contenido-header">
            <i class="fa-solid fa-piggy-bank" id="icono"></i>
            <a href="" class="header-enlaces">Ofertas</a>
        </div>
        <div class="contenido-header">
            <i class="fa-solid fa-mobile-screen-button" id="icono"></i>
            <a href="" class="header-enlaces">Celulares</a>
        </div>
        <div class="contenido-header">
            <i class="fa-solid fa-headphones" id="icono"></i>
            <a href="" class="header-enlaces">Accesorios</a>
        </div>
        <div class="buscador">
            <form action="" method="POST">
                <input type="text" name="barra-busqueda" placeholder="¿Qué estás buscando?" class="barra-busqueda">
                <button type="submit" class="boton-busqueda"><i class="fa-brands fa-sistrix"></i></button>
            </form>
        </div>
        <div class="contenido-header">
            <i class="fa-solid fa-heart" id="icono"></i>
            <a href="" class="header-enlaces">Favoritos</a>
        </div>
        <div class="contenido-header">
            <i class="fa-solid fa-cart-shopping" id="icono"></i>
            <a href="" class="header-enlaces">Mi carrito</a>
        </div>
        <div class="contenido-header">
            <i class="fa-regular fa-circle-user" id="icono"></i>
            <a href="" class="header-enlaces">Mi cuenta</a>
        </div>



























    </header>
    <main>
        <form action="/" method="GET" class="contenedor-formulario">
            <h1>Completá los datos para crear tu cuenta</h1>
            <br>

            <div class="formulario">
                <label for="nombre" class="texto-formulario">
                    Elegí tu nombre
                </label>
                <input type="text" name="nombre" placeholder="Nombre y apellido" minlength="3" class="barra-formulario"
                    required>

                <label for="email" class="texto-formulario">
                    Agregá tu e-mail
                </label>
                <input type="email" name="email" placeholder="E-mail" class="barra-formulario" required>

                <label for="telefono" class="texto-formulario">
                    Agregá tu celular
                </label>
                <input type="tel" name="telefono" placeholder="Teléfono" class="barra-formulario">

                <label for="contrasena" class="texto-formulario">
                    Contraseña
                </label>
                <input type="password" name="contrasena" placeholder="Contraseña" class="barra-formulario2" required>
                <input type="password" name="contrasena2" placeholder="Confirmar contraseña" class="barra-formulario2"
                    required>
            </div>

            <div class="botones">
                <button type="submit" class="boton-formulario">Enviar</button>
                <button type="reset" class="boton-formulario">Borrar</button>
            </div>

        </form>

        <hr>














































































    </main>

    <footer>
        <div class="caja1"></div>
        <div class="caja2">
            <div class="TecnoShop">
                <h3 class="titulo">7ecno Shop</h3>
                <a href="">Acerca de</a>
                <a href="">Terminos y Condiciones</a>
                <a href="">Privacidad</a>
            </div>
            <div class="Informacion">
                <h3 class="titulo">Información</h3>
                <a href="">Contactanos</a>
                <a href="">Centro de Ayuda</a>
                <a href="">Comunidad</a>
                <a href="">Libro de Quejas Online</a>
            </div>
            <div class="Productos">
                <h3 class="titulo">Productos</h3>
                <a href="">Buscar</a>
                <a href="">Inicio</a>
                <a href="">Celulares</a>
                <a href="">Acesorios</a>
                <a href="">Botón de Arrepentimiento</a>
            </div>
            <div class="formularioDeSuscripcion">
                <h3 class="titulo">Suscribite para recibir nuestras mejores ofertas y promociones</h3>
                <form action="" method="POST">
                    <input type="email" name="email" placeholder="Ingresá tu e-mail" class="email-sus">
                    <button type="submit" class="boton-suscripcion">Suscribirme</button>
                </form>
            </div>
        </div>
        <div class="caja3">
            <p>Copyright © 2023 7ecno Shop. Todos los Derechos Reservados</p>
        </div>
    </footer>
</body>

</html>