<%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/userPanel.css">
    </head>

    <body>
        <%- include('./partials/header') %>
            <main>
                <div class="carteluser">
                    <p class="informacionCartel">Bienvenido
                    </p>
                </div>


                <div class="carteluser">
                    <p class="informacionCartel">Administrar</p>
                    <div class="botones2">
                        <a href="/producto/crear" class="botonuser">Subir Producto</a>
                        <a href="/producto/editar" class="botonuser">Editar Producto</a>
                    </div>
                </div>


                <div class="carteluser">
                    <p class="informacionCartel">Información de la cuenta</p>

                    <div class="contenedor-informacion">
                        <div class="informacionCuenta1">
                            <p>Nombre</p>
                            <p class="informacionCuenta2">

                            </p>
                        </div>

                        <div class="informacionCuenta1">
                            <p>Correo</p>
                            <p class="informacionCuenta2">

                            </p>

                        </div>

                        <div class="informacionCuenta1">
                            <p>Numero</p>
                            <p class="informacionCuenta2">

                            </p>

                        </div>

                        <div class="informacionCuenta1">
                            <p>Contraseña</p>
                            <p class="informacionCuenta2">

                            </p>
                        </div>
                    </div>
                </div>


                    <div class="carteluser">
                        <p class="informacionCartel">Productos que publicaste</p>
                    </div>


                        <div class="carteluser">
                            <p class="informacionCartel">Productos que compraste</p>
                        </div>
            </main>

            <%- include('./partials/footer') %>

    </body>

    </html>