<footer>
    <div class="container">
    <div class="logoFooter">
        <a href="/"><img class="logoImage" src="../images/7ecnoShop_Logo.png" alt="logo"></a>
    </div>
    <div class="logoFooterDarkMode">
        <a href="/"><img class="logoImage" src="../images/7ecnoShop_Logo_2.png" alt="logo"></a>
    </div>
    
    <div class="redirectContainer">
        <h3 class="titleFooter">Productos</h3>
        <a href="/producto"><i class="fa-solid fa-mobile-screen-button"></i> Celulares</a>
        <a href="/producto"><i class="fa-solid fa-icons"></i> Acesorios</a>
        <a href="/usuario/carrito"><i class="fa-solid fa-cart-shopping"></i> Carrito</a>
        <a href="/usuario/carrito"><i class="fa-solid fa-face-sad-cry"></i> Botón de Arrepentimiento</a>
    </div>

    <div class="suscriptionFooter">
        <h3 class="titleFooter">Suscribite para recibir nuestras mejores ofertas y promociones</h3>
        <form action="" method="POST" class="suscription">
            <input type="email" name="email" placeholder="Ingresá tu e-mail" class="inputSuscription">
            <button type="submit" class="suscriptionButton"><i class="fa-solid fa-arrow-right"></i></button>
        </form>

    </div>

</div>

    <div class="containerFooter">
        <p>Copyright © 2023 7ecno Shop. Todos los Derechos Reservados</p>
    </div>