<footer>
    <div class="container">
        <div class="logoFooter">
            <a href="/"><img class="logoImage" src="../images/7ecnoShop_Logo.png" alt="logo"></a>
        </div>
        <div class="logoFooterDarkMode">
            <a href="/"><img class="logoImage" src="../images/7ecnoShop_Logo_2.png" alt="logo"></a>
        </div>

        <div class="redirectContainer">
            
            <ul class="productUl">
                <li><a href="/producto"><i class="fa-solid fa-mobile-screen-button"></i> Celulares</a></li>
                <li><a href="/producto"><i class="fa-solid fa-icons"></i> Acesorios</a></li>
                <li><a href="/usuario/carrito"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
            </ul>

            <ul class="messageFooter">
                <li>
                    <i class="fa-solid fa-credit-card" id="iconFooter"></i><h3>Formas de Pago</h3>
                    <p>Paga con tarjeta de debito, crédito o efectivo</p>
                </li>

                <li>
                    <i class="fa-solid fa-truck-fast" id="iconFooter"></i><h3>Envios Internacionales</h3>
                    <p>Realizamos envios a todo el mundo</p>
                </li>

                <li>
                    <i class="fa-solid fa-shield-halved" id="iconFooter"></i><h3>Entrega Garantizada</h3>
                    <p>Garantizamos que tu compra llegará a tu domicilio de forma segura</p>
                </li>
            </ul>


        </div>

    </div>

    <div class="containerFooter">
        <p>Copyright © 2023 7ecno Shop. Todos los Derechos Reservados</p>
    </div>