<footer>
    <div class="footer-box">

        <div class="footer-box-1">
            <i class="fa-solid fa-microchip" id="footer-logo"></i>
            <h1 class="footer-title-logo">7ecno Shop</h1>
        </div>

        <div class="footer-box-2">
            <div class="footer-box-3">
                <h3 class="footer-title-2">7ecno Shop</h3>
                <a href="" class="footer-link">Acerca de</a>
                <a href="" class="footer-link">Terminos y Condiciones</a>
                <a href="" class="footer-link">Privacidad</a>
            </div>

            <div class="footer-box-3">
                <h3 class="footer-title-2">Información</h3>
                <a href="" class="footer-link">Contactanos</a>
                <a href="" class="footer-link">Centro de Ayuda</a>
                <a href="" class="footer-link">Comunidad</a>
                <a href="" class="footer-link">Libro de Quejas Online</a>
            </div>

            <div class="footer-box-3">
                <h3 class="footer-title-2">Productos</h3>
                <a href="/" class="footer-link">Inicio</a>
                <a href="/producto" class="footer-link">Celulares</a>
                <a href="/producto" class="footer-link">Acesorios</a>
                <a href="/carrito" class="footer-link">Botón de Arrepentimiento</a>
            </div>

            <div class="footer-box-4">
                <h3 class="footer-title-3">Suscribite para recibir nuestras mejores ofertas y promociones</h3>
                <form action="" method="POST" class="footer-form-suscription">
                    <input type="email" name="email" placeholder="Ingresá tu e-mail" class="footer-email-suscription">
                    <button type="submit" id="footer-button-suscription"><i class="fa-solid fa-arrow-right"></i></button>
                </form>
                <div class="footer-social">
                    <button class="footer-button-social"><a href=""><i class="fa-brands fa-facebook"
                                id="footer-icon-social"></i></a></button>
                    <button class="footer-button-social"><a href=""><i class="fa-brands fa-instagram"
                                id="footer-icon-social"></i></a></button>
                    <button class="footer-button-social"><a href=""><i class="fa-brands fa-twitter"
                                id="footer-icon-social"></i></a></button>
                    <button class="footer-button-social"><a href=""><i class="fa-brands fa-youtube"
                                id="footer-icon-social"></i></a></button>
                </div>
            </div>

        </div>

        <div class="footer-box-5">
            <p>Copyright © 2023 7ecno Shop. Todos los Derechos Reservados</p>
        </div>

    </div>
</footer>