<header>
    <div class="logoHeader">
        <a href="/"><img class="logoImage" src="../images/7ecnoShop_Logo.png" alt="logo"></a>
    </div>

    <div class="logoHeaderDarkMode">
        <a href="/"><img class="logoImage" src="../images/7ecnoShop_Logo_2.png" alt="logo"></a>
    </div>

    <div class="searchHeader">
        <form action="/producto" method="POST" class="search">
            <input type="search" name="searchBar" placeholder="¿Qué estás buscando?" class="searchBar">
            <button type="submit" class="searchButton"><i class="fa-brands fa-sistrix"></i></button>
        </form>
    </div>
    <nav class="menuHeader">
    

        <div class="menuHeaderIcon">
            <input type="checkbox" id="menuCheck">
            <label for="menuCheck" class="checkButton">
                <i class="fa-solid fa-bars" id="menuIcon"></i>
            </label>
        </div>

        <ul>
            <li class="optionMenu"><button>
                    <p><i class="fa-solid fa-box-open"></i> Productos</p>
                </button>
                <ul>
                    <li>
                        <form action="">
                            <a href=""> <i class="fa-solid fa-mobile-screen-button"></i> Celulares</a>
                        </form>
                    </li>
                    <li>
                        <form action="">
                            <a href=""> <i class="fa-solid fa-icons"></i> Accesorios</a>
                        </form>
                    </li>
                </ul>
            </li>
            <li class="optionMenu"><button>
                    <p><a href="/usuario/carrito"><i class="fa-solid fa-cart-shopping"></i> Carrito</a>
                </button></li>
                <li class="optionMenu"><button>
                    <p><i class="fa-solid fa-circle-user"></i>Mi cuenta</a>
                </button>
                <ul>
                    <li>
                        <form action="">
                            <a href="/usuario/registro"><i class="fa-solid fa-user-plus"></i> Registrarme</a>
                        </form>
                    </li>
                    <li>
                        <form action="">
                            <a href="/usuario/login"><i class="fa-solid fa-user"></i> Iniciar Sesión</a>
                        </form>
                    </li>
                </ul>
                <ul>
                    <li>
                        <form action="">
                            <a href="/usuario/"><i class="fa-solid fa-clipboard-user"></i> Mi cuenta</a>
                        </form>
                    </li>
                    <li>
                        <form action="">
                            <a href="/usuario/login"><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión</a>
                        </form>
                    </li>
                </ul>
            </li> 


<!-- 
            <li id="horizontalMenuOption"><a href=""><i class="fa-solid fa-box-open"></i> Productos</a>
                <ul class="productMenuHeader">
                    <li>
                         <form action="">
                                <button><i class="fa-solid fa-mobile-screen-button"></i> Celulares</button> </form>
            <i class="fa-solid fa-mobile-screen-button"></i> Celulares
                   
                    </li>
                    <li>
                        <form action="">
                            <i class="fa-solid fa-icons"></i> Accesorios
                        </form>
                    
                    </li>
            </li>

        </ul>
        </li>

        <li id="horizontalMenuOption"><a href="/usuario/carrito"><i class="fa-solid fa-cart-shopping"></i> Carrito</a>
        </li>
        <li id="horizontalMenuOption"><a href="/usuario/"><i class="fa-solid fa-circle-user"></i> Mi cuenta</a>
            <ul class="verticalMenu" id="Outline">
                <li><a href="/usuario/registro"><i class="fa-solid fa-user-plus"></i> Registrarme</a></li>
                <li><a href="/usuario/login"><i class="fa-solid fa-user"></i> Iniciar Sesión</a></li>
        </li>
        </ul>
            
            <ul class="verticalMenu" id="Online">
                <li><a href="/"><i class="fa-solid fa-user"></i> Cerrar Sesión</a></li>
                </li>
            </ul> 
        </li>
        
        </ul>
    </nav> -->

    <button class="darkMode" id="darkMode">
        <span><i class="fa-solid fa-sun" id="mode1"></i></span>
        <span><i class="fa-solid fa-moon" id="mode2"></i></span>
    </button>
    <script src="/js/partial.js"></script>
</header>