<header>

    <div class="cajax">
        <i class="fa-solid fa-microchip" id="logo"></i>
        <h1 class="titulo-logo">7ecno Shop</h1>
    </div>
    </div>

    <div class="contenido-header">
        <i class="fa-solid fa-piggy-bank" id="icono"></i>
        <a href="/" class="header-enlaces">Ofertas</a>
    </div>
    <div class="contenido-header">
        <i class="fa-solid fa-mobile-screen-button" id="icono"></i>
        <a href="/producto" class="header-enlaces">Celulares</a>
    </div>
    <div class="contenido-header">
        <i class="fa-solid fa-headphones" id="icono"></i>
        <a href="/producto" class="header-enlaces">Accesorios</a>
    </div>
    <div>
        <form action="" method="POST" class="buscador">
            <input type="search" name="barra-busqueda" placeholder="¿Qué estás buscando?" class="barra-busqueda">
            <button type="submit" class="boton-busqueda"><i class="fa-brands fa-sistrix"></i></button>
        </form>
    </div>
    <div class="contenido-header">
        <i class="fa-solid fa-heart" id="icono"></i>
        <a href="/registro" class="header-enlaces">Registro</a>
    </div>
    <div class="contenido-header">
        <i class="fa-solid fa-cart-shopping" id="icono"></i>
        <a href="/carrito" class="header-enlaces">Mi carrito</a>
    </div>
    <div class="contenido-header">
        <i class="fa-regular fa-circle-user" id="icono"></i>
        <a href="/userpanel" class="header-enlaces">Mi cuenta</a>
        <div class="userAccount">
            <a href="/login" class="header-enlaces">Iniciar Sesión</a>
        </div>
    </div>

</header>