<header class="header">

    <div class="logo-header">
        <!-- <img src="../images/7ecnoShop_Logo.png" alt="image-logo"> -->
    </div>
    </div>

    <!-- <div class="content-header">
        <i class="fa-solid fa-piggy-bank" id="icon-header"></i>
        <a href="/" class="link-header">Ofertas</a>
    </div> -->
    <div class="content-header">
        <i class="fa-solid fa-mobile-screen-button" id="icon-header"></i>
        <a href="/producto" class="link-header">Celulares</a>
    </div>
    <div class="content-header">
        <i class="fa-solid fa-headphones" id="icon-header"></i>
        <a href="/producto" class="link-header">Accesorios</a>
    </div>
    <div>
        <form action="/producto" method="POST" class="buscador">
            <input type="search" name="barra" placeholder="¿Qué estás buscando?" class="barra-busqueda">
            <button type="submit" class="boton-busqueda"><i class="fa-brands fa-sistrix"></i></button>
        </form>
    </div>
    <div class="content-header">
        <i class="fa-solid fa-heart" id="icon-header"></i>
        <a href="/producto" class="link-header">Favoritos</a>
    </div>
    <div class="content-header">
        <i class="fa-solid fa-cart-shopping" id="icon-header"></i>
        <a href="/usuario/carrito" class="link-header">Mi carrito</a>
    </div>

    <div class="content-header">
        <div class="userAccount">
            <i class="fa-regular fa-circle-user" id="icon-header"></i>
            <a href="/usuario/login" class="link-header">Iniciar Sesión</a>
        </div>
    </div>

</header>