<aside class="voice-search">
    <div>
        <span class="text-voice-search">Escuchando...</span>
        <div>
            <i class="fa-regular fa-circle" id="icon-search-voice"></i>>
                <i class="fa-solid fa-microphone" id="icon-search-voice"></i>
            </i>

        </div>
    </div>
</aside>